.slidebar {
  position: absolute; top: 0; right: 0; height: 100px; width: 285px;

  .widget-wrap{ margin: 40px 0; }
  .widget-wrap:first-child{ margin-top: 0; }
  .widget-title { text-decoration: none; text-transform: uppercase; color: #999;  }
  .widget { word-wrap: break-word; font-size: 14px; padding: 15px 0; }
}


@media screen and (max-width: 1320px) {
  .slidebar{
    display: none;
  }
}
